@import 'reset.scss';
@import 'variables/global.scss';
@import 'themes/normal.scss';
@import 'themes/dark.scss';

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
