.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}
.links {
  margin-left: auto;
}
.mainLink {
  margin-right: 20px;
}
